<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>内部指令ng-repeat</title>
    <script src="../js/angular.js"></script>
    <script src="../js/day03/directive03.js"></script>
</head>
<body ng-controller="DirectiveController">
    <h3>直接输出：{{arr}}</h3>
    <hr>

    <h3>遍历简单数据</h3>
    <!-- 方式1 -->
    <ul>
        <li ng-repeat="item in arr">{{item}}</li>
        <!-- <li ng-repeat="item in user">{{item}}</li> -->
    </ul>

    <!--<ul ng-repeat="item in arr">
        <li >{{item}}</li>
        &lt;!&ndash; <li ng-repeat="item in user">{{item}}</li> &ndash;&gt;
    </ul>-->
    <!-- 方式2 -->
    <ul>
        <!-- <li ng-repeat="(k,v) in arr">{{k}}:{{v}}</li> -->
        <li ng-repeat="(k,v) in user">{{k}}:{{v}}</li>
    </ul>

    <ul >
        <!-- <li ng-repeat="(k,v) in arr">{{k}}:{{v}}</li> -->
        <li ng-repeat="u in user">{{u}}</li>
    </ul>

    <!-- 遍历有重复元素的集合时，必须使用track by，此时只能使用方式2 -->
    <ul>
        <li ng-repeat="(k,v) in arr2 track by k">{{k}}-{{v}}</li>
    </ul>

    <ul>
        <li ng-repeat="v in arr2 track by $index">{{v}}</li>
    </ul>

    <ul>
        <li ng-repeat="v in myScope track by $index">{{v.name}}</li>
    </ul>

    <h3>遍历复杂数据</h3>
    <table width="500" border="1" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th></th>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>密码</th>
                <th>身高</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="u in users track by $index">
                <td>{{$index}}</td>
                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.age}}</td>
                <td>{{u.sex}}</td>
                <td>{{u.pwd}}</td>
                <td>{{u.height}}</td>
            </tr>
        </tbody>
    </table>

    <br>
</body>
</html>