<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>简易计算器</title>
    <script src="../js/angular.js"></script>
    <script src="../js/day01/demo09.js"></script>
</head>
<body>
    <div ng-controller="CalculatorController">
        操作数1: <input type="text" id="num1" ng-model="num1" /><br>
        操作数1: <input type="text" id="num2" ng-model="num2" /><br>
        <input type="radio" value="加" ng-model="flag" />
        <label>加</label>
        <input type="radio" value="减" ng-model="flag" />
        <label>减</label>
        <input type="radio" value="乘" ng-model="flag" />
        <label>乘</label>
        <input type="radio" value="除" ng-model="flag" />
        <label>除</label>
        <button ng-click="calculate()">计算</button>
        <h3>运算结果：<span ng-bind="result"></span></h3>
    </div>
</body>
</html>