<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>事件冒泡</title>
    <script src="../js/angular.js"></script>
    <script src="../js/day01/demo11.js"></script>
</head>
<style type="text/css">
    .div1{
        width:100px;
        height: 100px;
        position: absolute;
        border: 1px solid black;
    }
    .div2{
        width:10px;
        height: 10px;
        position: absolute;
        top:10px;
        left:10px;
        border: 1px solid green;
    }
</style>
<body>
    <div class="div1" ng-click="div1()" ng-controller="FatherCtr1">
        <div class="div2" ng-click="div2();$event.stopPropagation();">

        </div>
    </div>
</body>
</html>