<!DOCTYPE html>
<html ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../../../js/angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/tests/updateStyle/menu02.css"/>
</head>
<body>
    <div ng-controller='HeaderController'>
        <div ng-class='{error:isError,warning:isWarning}'>{{messageText}}</div>
        <button ng-click='showError()'>Simulate Error</button>
        <button ng-click='showWarning()'>Simulate Warning</button>
    </div>
    <script>
    var myApp=angular.module('myApp',[])
    myApp.controller('HeaderController', function($scope) {
        $scope.isError = false;
        $scope.isWarning = false;
        $scope.showError = function() {
            $scope.messageText = 'This is an error!';
            $scope.isError = true;
            $scope.isWarning = false;
        };
        $scope.showWarning = function() {
            $scope.messageText = 'Just a warning.Please carry on.';
            $scope.isWarning = true;
            $scope.isError = false;
        };
    });
    </script>
</body>
</html>