<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Filter过滤器</title>
    <script src="../js/angular.js"></script>
    <script src="../js/day02/filter06.js"></script>
</head>
<body ng-controller="FilterController">
    <p>匹配属性值中包含'张'的所有项</p>
    <ul ng-repeat="m in initMemberArr | filter:'张'">
        <li>{{m.name}}</li>
        <li>{{m.age}}</li>
    </ul>
    <p>匹配属性值中包含 2的所有项</p>
    <ul ng-repeat="m in initMemberArr | filter:2">
        <li>{{m.name}}</li>
        <li>{{m.age}}</li>
    </ul>
    <p>匹配age属性值中包含 2的所有项</p>
    <ul ng-repeat="m in initMemberArr | filter:{age:2}">
        <li>{{m.name}}</li>
        <li>{{m.age}}</li>
    </ul>
    <p>匹配id属性值中包含 2,并且age属性中包含2的项</p>
    <ul ng-repeat="m in initMemberArr | filter:{age:2} | filter:{id:2}">
        <li>{{m.id}}</li>
        <li>{{m.name}}</li>
        <li>{{m.age}}</li>
    </ul>
    <p>匹配age属性值 大于 30的项</p>
    <ul ng-repeat="m in initMemberArr | filter:ageFilt ">
        <li>{{m.id}}</li>
        <li>{{m.name}}</li>
        <li>{{m.age}}</li>
    </ul>
</body>
</html>