<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>自定义指令 scope2</title>
    <script src="../js/angular.js"></script>
    <script src="../js/day04/demo06.js"></script>
</head>
<body ng-controller="DirectiveController">
    <input type="text" ng-model="data">
    <echo my-name="{{data}}"></echo>
    <hr>

    name: <input type="text" ng-model="name"><br>
    age: <input type="text"  ng-model="age"><br>
    name={{name}}，age={{age}}
    <div first name="{{name}}" age="{{age}}"></div>
    <hr>

    
</body>
</html>