<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/angular.js"></script>
</head>
<body ng-app="watchDemo">
<!--外部scope-->
<p>父scope：<input type="text" ng-model="input2"></p>
<!--内部隔离scope-->
<my-directive input2="{{input2}}"></my-directive>

<script>
    var app = angular.module('watchDemo', []);
    app.directive('myDirective', function () {
        return {
            restrict: 'E',
            replace: true,
            template: '<p>自定义指令scope：<input type="text" ng-model="input2"></p>',
            scope: {
                input2: '@'
            }
        }
    });
</script>
</body>
</html>